{
  "openapi": "3.0.3",
  "info": {
    "title": "Authlete API Explorer",
    "version": "3.0.0",
    "description": "Authlete is an API-first service for building authorization servers. This explorer provides endpoints for managing services and clients.",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    { "url": "https://us.authlete.com", "description": "US Cluster" },
    { "url": "https://jp.authlete.com", "description": "Japan Cluster" },
    { "url": "https://eu.authlete.com", "description": "Europe Cluster" },
    { "url": "https://br.authlete.com", "description": "Brazil Cluster" }
  ],
  "paths": {
    "/api/{serviceId}/service/get": {
      "get": {
        "summary": "Get service by ID",
        "operationId": "getServiceById",
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "The service ID to fetch."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of service details.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Service" }
              }
            }
          },
          "400": { "description": "Bad request." },
          "401": { "description": "Unauthorized." },
          "500": { "description": "Internal server error." }
        }
      }
    },
    "/api/service/get/list": {
      "get": {
        "summary": "List services",
        "operationId": "listServices",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 0 },
            "description": "Start index of the result set."
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 0 },
            "description": "End index of the result set."
          }
        ],
        "responses": {
          "200": {
            "description": "List of services returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "start": { "type": "integer" },
                    "end": { "type": "integer" },
                    "totalCount": { "type": "integer" },
                    "services": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Service" }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request." },
          "401": { "description": "Unauthorized." },
          "500": { "description": "Internal server error." }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Service": {
        "type": "object",
        "required": ["serviceName"],
        "properties": {
          "serviceName": { "type": "string" },
          "accessTokenDuration": { "type": "integer" },
          "accessTokenType": { "type": "string" },
          "authorizationEndpoint": { "type": "string", "format": "uri" },
          "tokenEndpoint": { "type": "string", "format": "uri" },
          "revocationEndpoint": { "type": "string", "format": "uri" },
          "introspectionEndpoint": { "type": "string", "format": "uri" },
          "clientIdAliasEnabled": { "type": "boolean" },
          "pkceRequired": { "type": "boolean" },
          "supportedGrantTypes": {
            "type": "array",
            "items": { "type": "string" }
          },
          "supportedResponseTypes": {
            "type": "array",
            "items": { "type": "string" }
          },
          "supportedTokenAuthMethods": {
            "type": "array",
            "items": { "type": "string" }
          },
          "supportedScopes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": { "type": "string" },
                "defaultEntry": { "type": "boolean" },
                "description": { "type": "string" }
              },
              "required": ["name"]
            }
          },
          "attributes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": { "type": "string" },
                "value": { "type": "string" }
              },
              "required": ["key", "value"]
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    { "bearer": [] }
  ]
}
